@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-1,.container-2,.container-3{
    background-color: white;
    height: 40vh;
    width: 30vw;
    text-align: center;
    padding: 20px;
}
.form-container{
  margin: 10px;
}
input{
  width: 25vw;
}
button{
  width: 45%;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
  color: black;
  background-color: red;
}
button:hover{
  background-color: rgb(256, 0, 0, 0.7);
}
button.disable{
  background-color: rgb(256, 0, 0, 0.7);
}
.container-2>p{
  margin: 8px;
}
.otp-grp{
  margin: 8px;
}
.otp-grp input{
  height: 50px;
  width: 50px;
  padding: 5px;
  font-size: 15px;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  text-align: center;
}
input::-webkit-inner-spin-button, input ::-webkit-outer-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

svg {
    width: 100px;
    display: block;
    margin: 30px auto 0;
}  
.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    &.circle {
      -webkit-animation: dash .9s ease-in-out;
      animation: dash .9s ease-in-out;
    }
    &.line {
      stroke-dashoffset: 1000;
      -webkit-animation: dash .9s .35s ease-in-out forwards;
      animation: dash .9s .35s ease-in-out forwards;
    }
    &.check {
      stroke-dashoffset: -100;
      -webkit-animation: dash-check .9s .35s ease-in-out forwards;
      animation: dash-check .9s .35s ease-in-out forwards;
    }
}  
#check{
    text-align: center;
    margin: 20px 0 60px;
    font-size: 1.25em;
    &.success {
      color: #73AF55;
    }
    &.error {
      color: #D06079;
    }
}
@-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
}
@-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
}  
@keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
}