@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --primary-color: mediumslateblue;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body 
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}
section 
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
}
section::before 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
  filter: brightness(65%) blur(10px);
  animation: metallic 5s linear infinite;
  display: block;
}

@keyframes metallic {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
section span 
{
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #181818;
  z-index: 2;
  transition: 1.5s;
  pointer-events: none;
}


section .signin
{
  position: absolute;
  width: 400px;
  background: #222;  
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0,0,0,9);
  overflow: hidden;
}

.signin .blob1
{
  position: absolute;
  top: 25%;
  left: 0.5%;
  background: linear-gradient(
    transparent,
    var(--primary-color),
    transparent
  );
  width: 2px;
  height: 70px;
  border-radius: 25px;
}

.signin .blob2
{
  position: absolute;
  top: 65%;
  left: 99.5%;
  background: linear-gradient(
    transparent,
    var(--primary-color),
    transparent
  );
  width: 2px;
  height: 70px;
  border-radius: 25px;
}


section .signin .content 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
section .signin .content h2 
{
  font-size: 2em;
  color: var(--primary-color);
  text-transform: uppercase;
}
section .signin .content .form 
{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
section .signin .content .form .inputBox
{
  position: relative;
  width: 100%;
  top: 15px;
}

.inputBox ion-icon
{
  position: absolute;
  left: 85%;
  cursor: pointer;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  font-size: 1.2em;
}


section .signin .content .form .inputBox input 
{
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
section .signin .content .form .inputBox i 
{
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}
.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i
{
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}
.signin .content .form .links 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.signin .content .form .links a 
{
  color: #fff;
  text-decoration: none;
}
.signin .content .form .links a:nth-child(2)
{
  color: #0f0;
  font-weight: 600;
}

@media (max-width: 900px)
{
  section span 
  {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}
@media (max-width: 600px)
{
  section span 
  {
    width: calc(20vw - 2px);
    height: calc(20vw - 2px);
  }
}
#verifyMarkUsername
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform-origin: center;
  left: 118%;
  font-size: 1.5em;
  color: var(--primary-color);
  margin-bottom: 125px;
  cursor: pointer;
  transition: 0.25s;
}



#signinWithGoogle {
  position: absolute;
  top: 13%;
  transform-origin: center;
  left: 35%;
  font-size: 2.5em;
  color: #fac;
  margin-bottom: 125px;
  cursor: pointer;
}


#signinWithGithub {
  position: absolute;
  top: 13%;
  transform-origin: center;
  left: 55%;
  font-size: 2.5em;
  color: #990;
  margin-bottom: 125px;
  cursor: pointer;
}

#signinWithGithub:active {
  transform: scale(0.9);
  transition: transform 0.1s ease-in-out;
}

#signinWithGoogle:active {
  transform: scale(0.9);
  transition: transform 0.1s ease-in-out;
}


.enter{
  position: relative;
  top: 10px;
  padding: 10px;
  background: linear-gradient(60deg, rgb(0, 208, 255), rgb(0, 53, 70));
  color: #fff;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
  border-radius: 12px;
  border: none;
  outline: none;
  transition:  0.5s;
}

.enter
{
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: hsla(194 100% 69% / 1);
  --btn-bg-2: hsla(217 100% 56% / 1);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;

  position: relative;
  top: 10px;
  padding: 10px;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-family: "Segoe UI", system-ui, sans-serif;
  font-weight: 500;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(325deg, var(--btn-bg-2) 0%, var(--btn-bg-1) 55%, var(--btn-bg-2) 90%);
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5), 0px 5px 5px -1px rgba(58, 125, 233, 0.25), inset 4px 4px 8px rgba(175, 230, 255, 0.5), inset -4px -4px 8px rgba(19, 95, 216, 0.35);
  outline: none;
  border: none;

}
.enter:hover {
  background-position: right top;
}

.enter:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow: 0 0 0 3px var(--btn-bg-color), 0 0 0 6px var(--btn-bg-2);
}
