body {
    background-color: #FFFFE0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}  
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video-container {
    position: relative;
    width: 600px;
    height: 400px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
  
.video-container iframe {
    width: 100%;
    height: 100%;
}
.video-container button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.sidebar-container {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 300px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.sidebar-container .sidebar-box {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}
.sidebar-container .sidebar-box:last-child {
    border-bottom: none;
}
.sidebar-container .sidebar-box h3 {
    margin-top: 0;
}
.sidebar-container textarea {
    width: 100%;
    height: 150px;
    resize: none;
    border: 1px solid #ccc;
    padding: 10px;
}